
.area-trabajo{
    display:grid;
    
    grid-template-columns: 33% 33% 33%;
    

}

header, nav, main,footer,aside{
    /* border: solid 1px red; */
    background-color: rgba(163,162,155,0.43461134453781514);
}
header{
    
    grid-column: 1/4;
    background: rgb(245,37,128);
    background: linear-gradient(214deg, rgba(245,37,128,1) 0%, rgba(147,21,177,1) 50%, rgba(136,69,252,1) 100%);

    /* background: rgb(243,185,244);
    background: radial-gradient(circle, rgba(243,185,244,1) 0%, rgba(163,162,155,0.43461134453781514) 70%); */

    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
nav{
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}
.imagen-navegador{
    display: none;
    transform:rotate(12deg);
}
.area-trabajo h1 {
    transition: 2s;
}
.area-trabajo h1:hover{
    font-size: 55px;
}
.area-trabajo h2 {
    transition: 2s;
}
.area-trabajo h2:hover{
    font-size: 75px;
}
.menu{
    list-style-type: none;
    font-size: 20px;
    
}
.menu li {
    margin: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* propiedad de duracion */
    transition: 1s;

}
.menu li:hover{
    font-size: 34px;

}
.reflexion-inicio{
    font-family: 'Updock', cursiva;
    font-size: 18px;
    text-align: center;
}
.reflexion{
    margin: 20px 20px;
    text-align: center;
    font-family:'Square Peg', cursive;
    font-size: 18px;
}
.reflexion span{
    color: #c05050;
}
.reflexion-inicio{
    font-family: 'Updock', cursiva;
    font-size: 28px;
}
main{
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(163,162,155,0.43461134453781514);
}
footer{
    grid-column: 1/4;
}
/* imagenes en el footer */
.imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    animation-name: moverse;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out; */
    animation-duration: 3s;
    
}
@keyframes moverse {
    0%{
        transform: skew(10deg);
    }
    10%{
        transform: skew(20deg);
    }
    20%{
        transform: skew(40deg);
    }
    30%{
        transform: skew(20deg);
    }
    40%{
        transform: skew(10deg);
    }
    50%{
        transform: skew(0deg);
    }
    60%{
        transform: skew(-10deg);
    }
    70%{
        transform: skew(-20deg);
    }
    80%{
        transform: skew(-40deg);
    }
    90%{
        transform: skew(-20deg);
    }
    100%{
        transform: skew(-10deg);
    }
}
.imagenes img{

    width: 60px;
}
.portada{
    width: 150px;
    padding: 10px;
}
.contacto{
    display: flex;
    flex-flow: column nowrap;
}
.contacto li{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    list-style-type: none;
}
.contacto ol li img{
    width: 20px;
    transform: translate(-30px);
}

.encabezado-imagen{
    margin: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.imagen-pantalla {
    
    width :300px;
}
aside {
    display: flex;
    justify-content: center;
    align-items: center;        
}
.imagen-mia{
    display: none;
}
@media screen and (min-width: 768px) {
   
	.area-trabajo{
        /* display:grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 32% 40% 18%; */
        /* grid-area: 
            "header header"
            "nav aside" 
            "main main"
            "footer footer"
            
        ; */
        row-gap: 1em;
    }
    .portada{
        width: 200px;
        padding: 10px;
    }
    aside {
        
        grid-column: 3/4;
    }
    header{
        grid-column: 1/4;
        /* grid-area: "header"; */
        background-color: blue;
        color: aquamarine;
   
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        font-size: 30px;
    }
    nav{
        grid-column: 1/3;
        /* grid-area: "nav"; */
        /* flex-wrap: wrap; */
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        /* text-align: left; */
        
    }
    main{
        grid-column: 1/4;
    }
    .menu{
        font-size: 25px;
        
    }
    .imagen-navegador{
        display:block;
        width: 200px;
    }
    /* imagenes en el footer */
    .imagenes{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 15vh;
        /* transform:skew(25deg, 36deg) ; */
    }
    .imagenes img{

        width: 150px;
    }
    .imagen-pantalla {
    
        width :600px;
    }

    .encabezado-imagen{
        font-size: 25px;
    }
    /* texto en el index */
    .reflexion{
        font-size: 34px;
        font-family: 'Square Peg', cursive;
        
    }
    .reflexion-inicio{
        font-family: 'Updock', cursiva;
        font-size: 38px;
    }
    .contacto li{
        font-size: 20px;
    }
    /* imagenes del contacto redes sociales */
    .contacto ol li img{
        width: 30px;
        transform: translate(-50px);

    }

}
/* para computadora */
@media screen and (min-width: 1000px) {
   
	/* .area-trabajo{
        display:grid;
        grid-area: 
        "header header header"
        "nav aside aside" 
        "main main main"
        "footer footer footer"
         
        ;
    } */
    .portada{
        display: none;
        /* width: 250px;
        padding: 10px; */
    }
    header{
        grid-area: "header";
        /* background-color: rgb(175, 175, 178);
        color: rgb(236, 249, 187); */
        
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        font-size: 40px;
        /* padding: 20px; */
        height: 200px;
    }
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        font-size: 45px;
        height: 350px;
    }
    .menu{
        font-size: 30px;
        
    }
    .imagen-navegador{
        display:none;
        width: 300px;
        
    }
    .imagen-mia{
        display: block;
        width: 320px;
    }
    /* imagenes en el footer */
    .imagenes{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 15vh;
        /* transform:skew(25deg, 36deg) ; */
    }
    .imagenes img{

        width: 150px;
    }
    /* imagen del trabajo final */
    .imagen-pantalla {
    
        width :800px;
    }

    .encabezado-imagen{
        font-size: 40px;
    }
    /* texto en el index */
    .reflexion{
        font-size: 34px;
        font-family: 'Square Peg', cursive;
        
    }
    .contacto li{
        font-size: 20px;
    }
    /* imagenes del contacto redes sociales */
    .contacto ol li img{
        width: 30px;
        transform: translate(-50px);

    }

}